body{
    margin: 0;
    padding: 0;
    height: 100vh;
    /* background-image: url("https://t3.ftcdn.net/jpg/10/40/27/94/360_F_1040279475_qmjcSOEBCdb6FyOjRot2G2mbv58oemtc.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    font-size: 16px;
    zoom: 0;
}